.ojo-1{
    background-color: aqua;
    display: flex;
    
}
.ojo-2{
    width: 100%;
    
}
.ojo-3{
    width: 50px;
}

.bar{
    
}
.ojo-4{
    display: flex;
    
    }
.ojo-5{
    margin-right: 50px;
    
    }
    