*{
    background-color: aqua;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    border-width: 4px;
    border-color: black;

}
.reg{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.last{
    background-color: red;
    margin: left;
    cursor: pointer;
}
